<template>
  <div id="app">
    <img
      alt="Vue logo"
      src="./assets/logo.png"
    >
    <HelloWorld
      msg="Welcome to Your Vue.js App"
      a="Welcome to Your Vue.js App"
      b="Welcome to Your Vue.js App"
      c="Welcome to Your Vue.js App"
      d="Welcome to Your Vue.js App"
      e="Welcome to Your Vue.js App"
      f="Welcome to Your Vue.js App"
    />
  </div>
</template>

<script>
import HelloWorld from '#/HelloWorld';

export default {
  name: 'App',
  components: {
    HelloWorld,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
